@model Mastex_BuleteVlad.ViewModels.ProjectDetailsViewModel

<div class="row">
    <h1 class="col col-md-4">Project Details</h1>
    <h1 class="col col-md-4"><span class="badge badge-@Model.Project.Color">@Model.Project.Status.Value</span></h1>
</div>
<br />
<div class="container" id="editForm">
    <form id="editProjectForm">
        <div class="form-group">
            @*<label for="formGroupExampleInput">Example label</label>*@
            <input type="text" class="form-control col-md-6" id="projectTitleInput" value="@Model.Project.Title" placeholder="Title">
        </div>
        <div class="form-group">
            @*<label for="exampleFormControlTextarea1">Example textarea</label>*@
            <textarea class="form-control" id="projectDescriptionArea" data-description="@Model.Project.Description" value="@Model.Project.Description" rows="3"></textarea>
        </div>
        <br />
        <div class="form-group">
            <div class="row">
                <h5 class="col col-md-2">Assigned Users:</h5>
                @foreach (var item in Model.AssignedUsers)
                {
                    <div class="col col-md-2 text-center" style="margin-right:10px; border-style:solid; border-color:black; border-radius:10px;">@item.Name</div>
                }
            </div>
        </div>
        <br />
        <a class="btn btn-success text-white" style="float:right;">Save Changes<i class="fas fa-save" style="margin-left:10px;"></i></a>
    </form>
</div>
<br />
<br />
<hr />
<br />

<div class="container" id="taskList">
    <h3>Task list </h3>
    <br />
    <partial name="~/Views/Task/_TaskList.cshtml" model="@Model.Tasks" />
</div>

<div class="container align-bottom">
    <a class="btn btn-outline-dark" asp-controller="Home" asp-action="Index"><i class="fas fa-angle-left"></i> Back to Projects</a>
</div>

<script type="text/javascript">
    (function () {
        var description = $("#projectDescriptionArea").data("description");
        $("#projectDescriptionArea").val(description);

        $("#dataTable tbody tr").on("click", function () {
            console.log($(this).text());
        });


    })();

</script>
