@model Mastex_BuleteVlad.ViewModels.ProjectDetailsViewModel

<h1>Project Details</h1>
<hr />
<div>
    <form id="editProjectForm">
        <div class="form-group">
            @*<label for="formGroupExampleInput">Example label</label>*@
            <input type="text" class="form-control col-md-6" id="projectTitleInput" value="@Model.Project.Title" placeholder="Title">
        </div>
        <div class="form-group">
            @*<label for="exampleFormControlTextarea1">Example textarea</label>*@
            <textarea class="form-control" id="projectDescriptionArea" data-description="@Model.Project.Description" value="@Model.Project.Description" rows="3"></textarea>
        </div>
        <div class="form-group">
            <h2>Status: <span class="badge badge-@Model.Project.Color">@Model.Project.Status.Value</span></h2>
        </div>
        <div class="form-group">
            @foreach (var item in Model.AssignedUsers)
            {
                <div class="btn-outline-dark col-md-4" style="margin-right:10px;">@item.Name</div>
            }
        </div>
        <br />
        @{var parms = new Dictionary<string, string>
                      {
                      { "id", Model.Project.Id.ToString() },
                      { "title", Model.Project.Title },
                      { "description", Model.Project.Description},
                      { "status", Model.Project.Status.Value},
                      { "color", Model.Project.Color},
                  };
        }
        <a class="btn btn-outline-success" style="float:right;" asp-area="" asp-controller="Project" asp-action="Edit" asp-all-route-data="parms">Save Changes <i class="fas fa-save"></i></a>

    </form>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div>
    <a class="btn btn-outline-dark" asp-controller="Home" asp-action="Index"><i class="fas fa-angle-left"></i> Back to List</a>
</div>

<script type="text/javascript">
    (function () {
        var description = $("#projectDescriptionArea").data("description");
        $("#projectDescriptionArea").val(description);

        $("#dataTable tbody tr").on("click", function () {
            console.log($(this).text());
        });


    })();

</script>
